html,
body {
  height: 100%;
}
.main-wapper {
  height: calc(100vh - 95px);
  position: relative;
  overflow: hidden;
}
.main-wapper > div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #fff;
}
